
            .item-1 { background-image: url(5e8dadcf3018c62731acd17a.image.png); }
        
                .matched.item-1 { background-image: url(5e8dadcf3018c62731acd17a.card.png); }
            
            .item-2 { background-image: url(5e8dadcf3018c62731acd17c.image.png); }
        
                .matched.item-2 { background-image: url(5e8dadcf3018c62731acd17c.card.png); }
            
            .item-3 { background-image: url(5eadf9d98deb5b71a395fe03.image.png); }
        
                .matched.item-3 { background-image: url(5eadf9d98deb5b71a395fe03.card.png); }
            
            .item-4 { background-image: url(5e8dadcf3018c62731acd17b.image.png); }
        
                .matched.item-4 { background-image: url(5e8dadcf3018c62731acd17b.card.png); }
            
            .item-5 { background-image: url(5eadf9db8deb5b71a395fe04.image.png); }
        
                .matched.item-5 { background-image: url(5eadf9db8deb5b71a395fe04.card.png); }
            
            .item-6 { background-image: url(5e8dadcf3018c62731acd17f.image.png); }
        
                .matched.item-6 { background-image: url(5e8dadcf3018c62731acd17f.card.png); }
            
            .item-7 { background-image: url(5eadf9dc8deb5b71a395fe05.image.png); }
        
                .matched.item-7 { background-image: url(5eadf9dc8deb5b71a395fe05.card.png); }
            
            .item-8 { background-image: url(5eadf9dd8deb5b71a395fe06.image.png); }
        
                .matched.item-8 { background-image: url(5eadf9dd8deb5b71a395fe06.card.png); }
            
            .item-9 { background-image: url(5eadf9de8deb5b71a395fe07.image.png); }
        
                .matched.item-9 { background-image: url(5eadf9de8deb5b71a395fe07.card.png); }
            
            .item-10 { background-image: url(5e8dadcf3018c62731acd17e.image.png); }
        
                .matched.item-10 { background-image: url(5e8dadcf3018c62731acd17e.card.png); }
            
            .item-11 { background-image: url(5eadf9e08deb5b71a395fe08.image.png); }
        
                .matched.item-11 { background-image: url(5eadf9e08deb5b71a395fe08.card.png); }
            
            .item-12 { background-image: url(5eadf9e08deb5b71a395fe09.image.png); }
        
                .matched.item-12 { background-image: url(5eadf9e08deb5b71a395fe09.card.png); }
            
            .item-13 { background-image: url(5eadf9e18deb5b71a395fe0a.image.png); }
        
                .matched.item-13 { background-image: url(5eadf9e18deb5b71a395fe0a.card.png); }
            
            .item-14 { background-image: url(5eadf9e28deb5b71a395fe0b.image.png); }
        
                .matched.item-14 { background-image: url(5eadf9e28deb5b71a395fe0b.card.png); }
            
