
            .item-1 { background-image: url(5e8bf93cf6082885ff046aa8.image.png); }
        
                .matched.item-1 { background-image: url(5e8bf93cf6082885ff046aa8.card.png); }
            
            .item-2 { background-image: url(5e8bf93af6082885ff046aa6.image.png); }
        
                .matched.item-2 { background-image: url(5e8bf93af6082885ff046aa6.card.png); }
            
            .item-3 { background-image: url(5e8bf93bf6082885ff046aa7.image.png); }
        
                .matched.item-3 { background-image: url(5e8bf93bf6082885ff046aa7.card.png); }
            
            .item-4 { background-image: url(5e8bf93cf6082885ff046aa9.image.png); }
        
                .matched.item-4 { background-image: url(5e8bf93cf6082885ff046aa9.card.png); }
            
            .item-5 { background-image: url(5e8bf947f6082885ff046ab8.image.png); }
        
                .matched.item-5 { background-image: url(5e8bf947f6082885ff046ab8.card.png); }
            
            .item-6 { background-image: url(5e8bf946f6082885ff046ab7.image.png); }
        
                .matched.item-6 { background-image: url(5e8bf946f6082885ff046ab7.card.png); }
            
            .item-7 { background-image: url(5e8bf944f6082885ff046ab4.image.png); }
        
                .matched.item-7 { background-image: url(5e8bf944f6082885ff046ab4.card.png); }
            
            .item-8 { background-image: url(5e8bf945f6082885ff046ab5.image.png); }
        
                .matched.item-8 { background-image: url(5e8bf945f6082885ff046ab5.card.png); }
            
            .item-9 { background-image: url(5e8bf93df6082885ff046aaa.image.png); }
        
                .matched.item-9 { background-image: url(5e8bf93df6082885ff046aaa.card.png); }
            
            .item-10 { background-image: url(5e8bf948f6082885ff046ab9.image.png); }
        
                .matched.item-10 { background-image: url(5e8bf948f6082885ff046ab9.card.png); }
            
            .item-11 { background-image: url(5eb792e69d5b9f0e47f908b4.image.png); }
        
                .matched.item-11 { background-image: url(5eb792e69d5b9f0e47f908b4.card.png); }
            
            .item-12 { background-image: url(5eb792e69d5b9f0e47f908b5.image.png); }
        
                .matched.item-12 { background-image: url(5eb792e69d5b9f0e47f908b5.card.png); }
            
            .item-13 { background-image: url(5e8bf942f6082885ff046ab0.image.png); }
        
                .matched.item-13 { background-image: url(5e8bf942f6082885ff046ab0.card.png); }
            
            .item-14 { background-image: url(5eb792e69d5b9f0e47f908b6.image.png); }
        
                .matched.item-14 { background-image: url(5eb792e69d5b9f0e47f908b6.card.png); }
            
