
            .item-1 { background-image: url(5e9cd3b0c9c8767483d7747b.image.png); }
        
                .matched.item-1 { background-image: url(5e9cd3b0c9c8767483d7747b.card.png); }
            
            .item-2 { background-image: url(5e9cd3b2c9c8767483d7747d.image.png); }
        
                .matched.item-2 { background-image: url(5e9cd3b2c9c8767483d7747d.card.png); }
            
            .item-3 { background-image: url(5e8db08a26af9d56f020f497.image.png); }
        
                .matched.item-3 { background-image: url(5e8db08a26af9d56f020f497.card.png); }
            
            .item-4 { background-image: url(5e8db08a26af9d56f020f494.image.png); }
        
                .matched.item-4 { background-image: url(5e8db08a26af9d56f020f494.card.png); }
            
            .item-5 { background-image: url(5e8db08a26af9d56f020f495.image.png); }
        
                .matched.item-5 { background-image: url(5e8db08a26af9d56f020f495.card.png); }
            
            .item-6 { background-image: url(5e8db08a26af9d56f020f496.image.png); }
        
                .matched.item-6 { background-image: url(5e8db08a26af9d56f020f496.card.png); }
            
            .item-7 { background-image: url(5e9cd3bdc9c8767483d77488.image.png); }
        
                .matched.item-7 { background-image: url(5e9cd3bdc9c8767483d77488.card.png); }
            
            .item-8 { background-image: url(5e9cd3bec9c8767483d77489.image.png); }
        
                .matched.item-8 { background-image: url(5e9cd3bec9c8767483d77489.card.png); }
            
            .item-9 { background-image: url(5e9cd3bfc9c8767483d7748a.image.png); }
        
                .matched.item-9 { background-image: url(5e9cd3bfc9c8767483d7748a.card.png); }
            
            .item-10 { background-image: url(5e9cd3c0c9c8767483d7748b.image.png); }
        
                .matched.item-10 { background-image: url(5e9cd3c0c9c8767483d7748b.card.png); }
            
            .item-11 { background-image: url(5e9cd3c1c9c8767483d7748c.image.png); }
        
                .matched.item-11 { background-image: url(5e9cd3c1c9c8767483d7748c.card.png); }
            
            .item-12 { background-image: url(5e9cd3c2c9c8767483d7748d.image.png); }
        
                .matched.item-12 { background-image: url(5e9cd3c2c9c8767483d7748d.card.png); }
            
