
            .item-1 { background-image: url(5e8bf944f6082885ff046ab3.image.png); }
        
                .matched.item-1 { background-image: url(5e8bf944f6082885ff046ab3.card.png); }
            
            .item-2 { background-image: url(5eb792e79d5b9f0e47f908b7.image.png); }
        
                .matched.item-2 { background-image: url(5eb792e79d5b9f0e47f908b7.card.png); }
            
            .item-3 { background-image: url(5e8bf941f6082885ff046aaf.image.png); }
        
                .matched.item-3 { background-image: url(5e8bf941f6082885ff046aaf.card.png); }
            
            .item-4 { background-image: url(5eb792e79d5b9f0e47f908b8.image.png); }
        
                .matched.item-4 { background-image: url(5eb792e79d5b9f0e47f908b8.card.png); }
            
            .item-5 { background-image: url(5e8bf943f6082885ff046ab2.image.png); }
        
                .matched.item-5 { background-image: url(5e8bf943f6082885ff046ab2.card.png); }
            
            .item-6 { background-image: url(5eb792e89d5b9f0e47f908b9.image.png); }
        
                .matched.item-6 { background-image: url(5eb792e89d5b9f0e47f908b9.card.png); }
            
            .item-7 { background-image: url(5e8bf93ff6082885ff046aad.image.png); }
        
                .matched.item-7 { background-image: url(5e8bf93ff6082885ff046aad.card.png); }
            
            .item-8 { background-image: url(5e8bf93ef6082885ff046aac.image.png); }
        
                .matched.item-8 { background-image: url(5e8bf93ef6082885ff046aac.card.png); }
            
            .item-9 { background-image: url(5e8bf940f6082885ff046aae.image.png); }
        
                .matched.item-9 { background-image: url(5e8bf940f6082885ff046aae.card.png); }
            
            .item-10 { background-image: url(5e8bf942f6082885ff046ab1.image.png); }
        
                .matched.item-10 { background-image: url(5e8bf942f6082885ff046ab1.card.png); }
            
            .item-11 { background-image: url(5e8bf93ef6082885ff046aab.image.png); }
        
                .matched.item-11 { background-image: url(5e8bf93ef6082885ff046aab.card.png); }
            
            .item-12 { background-image: url(5eb792e99d5b9f0e47f908ba.image.png); }
        
                .matched.item-12 { background-image: url(5eb792e99d5b9f0e47f908ba.card.png); }
            
            .item-13 { background-image: url(5eb792ea9d5b9f0e47f908bb.image.png); }
        
                .matched.item-13 { background-image: url(5eb792ea9d5b9f0e47f908bb.card.png); }
            
            .item-14 { background-image: url(5eb792ea9d5b9f0e47f908bc.image.png); }
        
                .matched.item-14 { background-image: url(5eb792ea9d5b9f0e47f908bc.card.png); }
            
