
            .item-1 { background-image: url(5e8dacb854bd1fe2183032d3.image.png); }
        
                .matched.item-1 { background-image: url(5e8dacb854bd1fe2183032d3.card.png); }
            
            .item-2 { background-image: url(5e8dacb854bd1fe2183032d4.image.png); }
        
                .matched.item-2 { background-image: url(5e8dacb854bd1fe2183032d4.card.png); }
            
            .item-3 { background-image: url(5e92e8ba8ef7c7826650ada5.image.png); }
        
                .matched.item-3 { background-image: url(5e92e8ba8ef7c7826650ada5.card.png); }
            
            .item-4 { background-image: url(5e92e8bb8ef7c7826650ada6.image.png); }
        
                .matched.item-4 { background-image: url(5e92e8bb8ef7c7826650ada6.card.png); }
            
            .item-5 { background-image: url(5e8dacb854bd1fe2183032d2.image.png); }
        
                .matched.item-5 { background-image: url(5e8dacb854bd1fe2183032d2.card.png); }
            
            .item-6 { background-image: url(5e8dacb854bd1fe2183032e2.image.png); }
        
                .matched.item-6 { background-image: url(5e8dacb854bd1fe2183032e2.card.png); }
            
            .item-7 { background-image: url(5e92e8bc8ef7c7826650ada7.image.png); }
        
                .matched.item-7 { background-image: url(5e92e8bc8ef7c7826650ada7.card.png); }
            
            .item-8 { background-image: url(5e8dacb854bd1fe2183032d5.image.png); }
        
                .matched.item-8 { background-image: url(5e8dacb854bd1fe2183032d5.card.png); }
            
            .item-9 { background-image: url(5e8dacb854bd1fe2183032df.image.png); }
        
                .matched.item-9 { background-image: url(5e8dacb854bd1fe2183032df.card.png); }
            
            .item-10 { background-image: url(5e92e8bd8ef7c7826650ada8.image.png); }
        
                .matched.item-10 { background-image: url(5e92e8bd8ef7c7826650ada8.card.png); }
            
            .item-11 { background-image: url(5e8dacb854bd1fe2183032e1.image.png); }
        
                .matched.item-11 { background-image: url(5e8dacb854bd1fe2183032e1.card.png); }
            
            .item-12 { background-image: url(5e92e8be8ef7c7826650ada9.image.png); }
        
                .matched.item-12 { background-image: url(5e92e8be8ef7c7826650ada9.card.png); }
            
