
            .item-1 { background-image: url(5e9cd75dfb76c53278b7ea5c.image.png); }
        
                .matched.item-1 { background-image: url(5e9cd75dfb76c53278b7ea5c.card.png); }
            
            .item-2 { background-image: url(5e9cd75dfb76c53278b7ea5d.image.png); }
        
                .matched.item-2 { background-image: url(5e9cd75dfb76c53278b7ea5d.card.png); }
            
            .item-3 { background-image: url(5e9cd75efb76c53278b7ea5e.image.png); }
        
                .matched.item-3 { background-image: url(5e9cd75efb76c53278b7ea5e.card.png); }
            
            .item-4 { background-image: url(5e9cd75ffb76c53278b7ea5f.image.png); }
        
                .matched.item-4 { background-image: url(5e9cd75ffb76c53278b7ea5f.card.png); }
            
            .item-5 { background-image: url(5e9cd75ffb76c53278b7ea60.image.png); }
        
                .matched.item-5 { background-image: url(5e9cd75ffb76c53278b7ea60.card.png); }
            
            .item-6 { background-image: url(5e9cd760fb76c53278b7ea61.image.png); }
        
                .matched.item-6 { background-image: url(5e9cd760fb76c53278b7ea61.card.png); }
            
            .item-7 { background-image: url(5e9cd58117c76e7d6c69f905.image.png); }
        
                .matched.item-7 { background-image: url(5e9cd58117c76e7d6c69f905.card.png); }
            
            .item-8 { background-image: url(5e9cd58217c76e7d6c69f907.image.png); }
        
                .matched.item-8 { background-image: url(5e9cd58217c76e7d6c69f907.card.png); }
            
            .item-9 { background-image: url(5e9cd58117c76e7d6c69f906.image.png); }
        
                .matched.item-9 { background-image: url(5e9cd58117c76e7d6c69f906.card.png); }
            
            .item-10 { background-image: url(5ea3b71497e2a3b784762d36.image.png); }
        
                .matched.item-10 { background-image: url(5ea3b71497e2a3b784762d36.card.png); }
            
            .item-11 { background-image: url(5ea3b71497e2a3b784762d37.image.png); }
        
                .matched.item-11 { background-image: url(5ea3b71497e2a3b784762d37.card.png); }
            
