
            .item-1 { background-image: url(5e9cc6ec83dd7905aa16c67f.image.png); }
        
                .matched.item-1 { background-image: url(5e9cc6ec83dd7905aa16c67f.card.png); }
            
            .item-2 { background-image: url(5e9cc6ec83dd7905aa16c680.image.png); }
        
                .matched.item-2 { background-image: url(5e9cc6ec83dd7905aa16c680.card.png); }
            
            .item-3 { background-image: url(5e8dafd4fe028112aa073e72.image.png); }
        
                .matched.item-3 { background-image: url(5e8dafd4fe028112aa073e72.card.png); }
            
            .item-4 { background-image: url(5e8dafd4fe028112aa073e6e.image.png); }
        
                .matched.item-4 { background-image: url(5e8dafd4fe028112aa073e6e.card.png); }
            
            .item-5 { background-image: url(5e9cc6ee83dd7905aa16c681.image.png); }
        
                .matched.item-5 { background-image: url(5e9cc6ee83dd7905aa16c681.card.png); }
            
            .item-6 { background-image: url(5e9cc6ee83dd7905aa16c682.image.png); }
        
                .matched.item-6 { background-image: url(5e9cc6ee83dd7905aa16c682.card.png); }
            
            .item-7 { background-image: url(5e9cc6ee83dd7905aa16c683.image.png); }
        
                .matched.item-7 { background-image: url(5e9cc6ee83dd7905aa16c683.card.png); }
            
            .item-8 { background-image: url(5e9cc6ef83dd7905aa16c684.image.png); }
        
                .matched.item-8 { background-image: url(5e9cc6ef83dd7905aa16c684.card.png); }
            
            .item-9 { background-image: url(5e9cc6ef83dd7905aa16c685.image.png); }
        
                .matched.item-9 { background-image: url(5e9cc6ef83dd7905aa16c685.card.png); }
            
            .item-10 { background-image: url(5e8dafd4fe028112aa073e6f.image.png); }
        
                .matched.item-10 { background-image: url(5e8dafd4fe028112aa073e6f.card.png); }
            
            .item-11 { background-image: url(5e9cc6f083dd7905aa16c686.image.png); }
        
                .matched.item-11 { background-image: url(5e9cc6f083dd7905aa16c686.card.png); }
            
            .item-12 { background-image: url(5e8dafd4fe028112aa073e73.image.png); }
        
                .matched.item-12 { background-image: url(5e8dafd4fe028112aa073e73.card.png); }
            
