
            .item-1 { background-image: url(5e8dad947aa6d6552ebb39b0.image.png); }
        
                .matched.item-1 { background-image: url(5e8dad947aa6d6552ebb39b0.card.png); }
            
            .item-2 { background-image: url(5ec1d0765f5aaa74c0065972.image.png); }
        
                .matched.item-2 { background-image: url(5ec1d0765f5aaa74c0065972.card.png); }
            
            .item-3 { background-image: url(5ec1d0765f5aaa74c0065973.image.png); }
        
                .matched.item-3 { background-image: url(5ec1d0765f5aaa74c0065973.card.png); }
            
            .item-4 { background-image: url(5ec1d0775f5aaa74c0065974.image.png); }
        
                .matched.item-4 { background-image: url(5ec1d0775f5aaa74c0065974.card.png); }
            
            .item-5 { background-image: url(5ec1d0775f5aaa74c0065975.image.png); }
        
                .matched.item-5 { background-image: url(5ec1d0775f5aaa74c0065975.card.png); }
            
            .item-6 { background-image: url(5ec1d0775f5aaa74c0065976.image.png); }
        
                .matched.item-6 { background-image: url(5ec1d0775f5aaa74c0065976.card.png); }
            
            .item-7 { background-image: url(5ec1d0785f5aaa74c0065977.image.png); }
        
                .matched.item-7 { background-image: url(5ec1d0785f5aaa74c0065977.card.png); }
            
            .item-8 { background-image: url(5ec1d0785f5aaa74c0065978.image.png); }
        
                .matched.item-8 { background-image: url(5ec1d0785f5aaa74c0065978.card.png); }
            
            .item-9 { background-image: url(5ec1d0795f5aaa74c0065979.image.png); }
        
                .matched.item-9 { background-image: url(5ec1d0795f5aaa74c0065979.card.png); }
            
            .item-10 { background-image: url(5ec1d0795f5aaa74c006597a.image.png); }
        
                .matched.item-10 { background-image: url(5ec1d0795f5aaa74c006597a.card.png); }
            
            .item-11 { background-image: url(5ec1d07a5f5aaa74c006597b.image.png); }
        
                .matched.item-11 { background-image: url(5ec1d07a5f5aaa74c006597b.card.png); }
            
