
            .item-1 { background-image: url(5e8dafd4fe028112aa073e70.image.png); }
        
                .matched.item-1 { background-image: url(5e8dafd4fe028112aa073e70.card.png); }
            
            .item-2 { background-image: url(5e8daed2f027c1f33241f487.image.png); }
        
                .matched.item-2 { background-image: url(5e8daed2f027c1f33241f487.card.png); }
            
            .item-3 { background-image: url(5e9cc6fd83dd7905aa16c693.image.png); }
        
                .matched.item-3 { background-image: url(5e9cc6fd83dd7905aa16c693.card.png); }
            
            .item-4 { background-image: url(5e9cc6fe83dd7905aa16c694.image.png); }
        
                .matched.item-4 { background-image: url(5e9cc6fe83dd7905aa16c694.card.png); }
            
            .item-5 { background-image: url(5e9cc6ff83dd7905aa16c695.image.png); }
        
                .matched.item-5 { background-image: url(5e9cc6ff83dd7905aa16c695.card.png); }
            
            .item-6 { background-image: url(5e9cc6ff83dd7905aa16c696.image.png); }
        
                .matched.item-6 { background-image: url(5e9cc6ff83dd7905aa16c696.card.png); }
            
            .item-7 { background-image: url(5e9cc70083dd7905aa16c697.image.png); }
        
                .matched.item-7 { background-image: url(5e9cc70083dd7905aa16c697.card.png); }
            
            .item-8 { background-image: url(5e9cc70183dd7905aa16c698.image.png); }
        
                .matched.item-8 { background-image: url(5e9cc70183dd7905aa16c698.card.png); }
            
            .item-9 { background-image: url(5e8dac67201d843588616dc8.image.png); }
        
                .matched.item-9 { background-image: url(5e8dac67201d843588616dc8.card.png); }
            
            .item-10 { background-image: url(5e8dac67201d843588616dc7.image.png); }
        
                .matched.item-10 { background-image: url(5e8dac67201d843588616dc7.card.png); }
            
            .item-11 { background-image: url(5e9cc70383dd7905aa16c699.image.png); }
        
                .matched.item-11 { background-image: url(5e9cc70383dd7905aa16c699.card.png); }
            
            .item-12 { background-image: url(5e9cc70483dd7905aa16c69a.image.png); }
        
                .matched.item-12 { background-image: url(5e9cc70483dd7905aa16c69a.card.png); }
            
            .item-13 { background-image: url(5e9cc70483dd7905aa16c69b.image.png); }
        
                .matched.item-13 { background-image: url(5e9cc70483dd7905aa16c69b.card.png); }
            
