
            .item-1 { background-image: url(5ec1d06b5f5aaa74c006596a.image.png); }
        
                .matched.item-1 { background-image: url(5ec1d06b5f5aaa74c006596a.card.png); }
            
            .item-2 { background-image: url(5e8dad947aa6d6552ebb39b4.image.png); }
        
                .matched.item-2 { background-image: url(5e8dad947aa6d6552ebb39b4.card.png); }
            
            .item-3 { background-image: url(5e8dad947aa6d6552ebb39b3.image.png); }
        
                .matched.item-3 { background-image: url(5e8dad947aa6d6552ebb39b3.card.png); }
            
            .item-4 { background-image: url(5e8dad947aa6d6552ebb39ab.image.png); }
        
                .matched.item-4 { background-image: url(5e8dad947aa6d6552ebb39ab.card.png); }
            
            .item-5 { background-image: url(5ec1d0725f5aaa74c006596b.image.png); }
        
                .matched.item-5 { background-image: url(5ec1d0725f5aaa74c006596b.card.png); }
            
            .item-6 { background-image: url(5ec1d0725f5aaa74c006596c.image.png); }
        
                .matched.item-6 { background-image: url(5ec1d0725f5aaa74c006596c.card.png); }
            
            .item-7 { background-image: url(5ec1d0725f5aaa74c006596d.image.png); }
        
                .matched.item-7 { background-image: url(5ec1d0725f5aaa74c006596d.card.png); }
            
            .item-8 { background-image: url(5ec1d0735f5aaa74c006596e.image.png); }
        
                .matched.item-8 { background-image: url(5ec1d0735f5aaa74c006596e.card.png); }
            
            .item-9 { background-image: url(5e8dad947aa6d6552ebb39ac.image.png); }
        
                .matched.item-9 { background-image: url(5e8dad947aa6d6552ebb39ac.card.png); }
            
            .item-10 { background-image: url(5ec1d0745f5aaa74c006596f.image.png); }
        
                .matched.item-10 { background-image: url(5ec1d0745f5aaa74c006596f.card.png); }
            
            .item-11 { background-image: url(5ec1d0745f5aaa74c0065970.image.png); }
        
                .matched.item-11 { background-image: url(5ec1d0745f5aaa74c0065970.card.png); }
            
            .item-12 { background-image: url(5ec1d0755f5aaa74c0065971.image.png); }
        
                .matched.item-12 { background-image: url(5ec1d0755f5aaa74c0065971.card.png); }
            
