
            .item-1 { background-image: url(5e9cda08037c6b87b73250f1.image.png); }
        
                .matched.item-1 { background-image: url(5e9cda08037c6b87b73250f1.card.png); }
            
            .item-2 { background-image: url(5e9cda09037c6b87b73250f2.image.png); }
        
                .matched.item-2 { background-image: url(5e9cda09037c6b87b73250f2.card.png); }
            
            .item-3 { background-image: url(5e9cda09037c6b87b73250f3.image.png); }
        
                .matched.item-3 { background-image: url(5e9cda09037c6b87b73250f3.card.png); }
            
            .item-4 { background-image: url(5e9cda09037c6b87b73250f4.image.png); }
        
                .matched.item-4 { background-image: url(5e9cda09037c6b87b73250f4.card.png); }
            
            .item-5 { background-image: url(5e8dab8369c2516911ea4531.image.png); }
        
                .matched.item-5 { background-image: url(5e8dab8369c2516911ea4531.card.png); }
            
            .item-6 { background-image: url(5e8dab8369c2516911ea4530.image.png); }
        
                .matched.item-6 { background-image: url(5e8dab8369c2516911ea4530.card.png); }
            
            .item-7 { background-image: url(5e9cda0b037c6b87b73250f5.image.png); }
        
                .matched.item-7 { background-image: url(5e9cda0b037c6b87b73250f5.card.png); }
            
            .item-8 { background-image: url(5e9cda0b037c6b87b73250f6.image.png); }
        
                .matched.item-8 { background-image: url(5e9cda0b037c6b87b73250f6.card.png); }
            
            .item-9 { background-image: url(5e9cda0b037c6b87b73250f7.image.png); }
        
                .matched.item-9 { background-image: url(5e9cda0b037c6b87b73250f7.card.png); }
            
            .item-10 { background-image: url(5e9cda0c037c6b87b73250f8.image.png); }
        
                .matched.item-10 { background-image: url(5e9cda0c037c6b87b73250f8.card.png); }
            
            .item-11 { background-image: url(5e8dab8369c2516911ea4532.image.png); }
        
                .matched.item-11 { background-image: url(5e8dab8369c2516911ea4532.card.png); }
            
            .item-12 { background-image: url(5e9cda0d037c6b87b73250f9.image.png); }
        
                .matched.item-12 { background-image: url(5e9cda0d037c6b87b73250f9.card.png); }
            
            .item-13 { background-image: url(5e9cda0d037c6b87b73250fa.image.png); }
        
                .matched.item-13 { background-image: url(5e9cda0d037c6b87b73250fa.card.png); }
            
            .item-14 { background-image: url(5e9cda0d037c6b87b73250fb.image.png); }
        
                .matched.item-14 { background-image: url(5e9cda0d037c6b87b73250fb.card.png); }
            
            .item-15 { background-image: url(5e9cda0e037c6b87b73250fc.image.png); }
        
                .matched.item-15 { background-image: url(5e9cda0e037c6b87b73250fc.card.png); }
            
            .item-16 { background-image: url(5e9cda0e037c6b87b73250fd.image.png); }
        
                .matched.item-16 { background-image: url(5e9cda0e037c6b87b73250fd.card.png); }
            
