
            .item-1 { background-image: url(5e92e8b48ef7c7826650ad9c.image.png); }
        
                .matched.item-1 { background-image: url(5e92e8b48ef7c7826650ad9c.card.png); }
            
            .item-2 { background-image: url(5e92e8b58ef7c7826650ad9d.image.png); }
        
                .matched.item-2 { background-image: url(5e92e8b58ef7c7826650ad9d.card.png); }
            
            .item-3 { background-image: url(5e92e8b58ef7c7826650ad9e.image.png); }
        
                .matched.item-3 { background-image: url(5e92e8b58ef7c7826650ad9e.card.png); }
            
            .item-4 { background-image: url(5e92e8b58ef7c7826650ad9f.image.png); }
        
                .matched.item-4 { background-image: url(5e92e8b58ef7c7826650ad9f.card.png); }
            
            .item-5 { background-image: url(5e92e8b68ef7c7826650ada0.image.png); }
        
                .matched.item-5 { background-image: url(5e92e8b68ef7c7826650ada0.card.png); }
            
            .item-6 { background-image: url(5e92e8b68ef7c7826650ada1.image.png); }
        
                .matched.item-6 { background-image: url(5e92e8b68ef7c7826650ada1.card.png); }
            
            .item-7 { background-image: url(5e92e8b78ef7c7826650ada2.image.png); }
        
                .matched.item-7 { background-image: url(5e92e8b78ef7c7826650ada2.card.png); }
            
            .item-8 { background-image: url(5e8dacb854bd1fe2183032d7.image.png); }
        
                .matched.item-8 { background-image: url(5e8dacb854bd1fe2183032d7.card.png); }
            
            .item-9 { background-image: url(5e8dacb854bd1fe2183032d6.image.png); }
        
                .matched.item-9 { background-image: url(5e8dacb854bd1fe2183032d6.card.png); }
            
            .item-10 { background-image: url(5e8dacb854bd1fe2183032e3.image.png); }
        
                .matched.item-10 { background-image: url(5e8dacb854bd1fe2183032e3.card.png); }
            
            .item-11 { background-image: url(5e92e8b98ef7c7826650ada3.image.png); }
        
                .matched.item-11 { background-image: url(5e92e8b98ef7c7826650ada3.card.png); }
            
            .item-12 { background-image: url(5e92e8b98ef7c7826650ada4.image.png); }
        
                .matched.item-12 { background-image: url(5e92e8b98ef7c7826650ada4.card.png); }
            
