.board-layout {
  position: relative;
  display: inline-block;
  background: #eee;
  border-radius: 4px;
}

.playing {
  background-color: #f4efce;
}

.board {
  position: absolute;
  z-index: 0;
}

.cell {
  position: absolute;
  /* border: 1px solid black; */
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 1s, opacity 1s ease-in, background-size .2s;
  border-radius: 50%;
  background-position:center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}

.cell.selected {
  border: 2px solid red;
}
.cell.suggestion {
  background-size: 120% 120%;
  /* border: 2px dotted navy; */
}

.item-0 {
  background-color: red;
  opacity: 0;
  transform: rotateY(180deg);
}

.lines {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  left: 0;
  top: 0;
}

.line {
  fill: transparent;
  stroke: red;
  stroke-width: 3px;
  stroke-linejoin: round;
}
