.board-layout {
  position: relative;
  display: inline-block;
  background: #eee;
  border-radius: 4px;
}

.playing {
  background-color: #f4efce;
}

.board {
  position: absolute;
  z-index: 0;
}

.cell {
  position: absolute;
  /* border: 1px solid black; */
  cursor: default;
  transform-style: preserve-3d;
  transition: transform 1s, opacity 1s ease-in, background-size .2s;
  border-radius: 50%;
  background-position:center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}

.cell.selected {
  border: 2px solid red;
}
.cell.suggestion {
  background-size: 110% 110%;
}

.item-0 {
  background-color: red;
  opacity: 0;
  transform: rotateY(180deg);
}

.item-1 {
  background-image: url('./images/apple.png');
}

.item-2 {
  background-image: url('./images/cherry.png');
}

.item-3 {
  background-image: url('./images/grape.png');
}

.item-4 {
  background-image: url('./images/lemon.png');
}

.item-5 {
  background-image: url('./images/orange.png');
}

.item-6 {
  background-image: url('./images/pear.png');
}

.item-7 {
  background-image: url('./images/pineapple.png');
}

.item-8 {
  background-image: url('./images/strawberry.png');
}

.item-9 {
  background-image: url('./images/watermelon.png');
}

.lines {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  left: 0;
  top: 0;
}

.line {
  fill: transparent;
  stroke: red;
  stroke-width: 3px;
  stroke-linejoin: round;
}
