
            .item-1 { background-image: url(5ec1d07a5f5aaa74c006597c.image.png); }
        
                .matched.item-1 { background-image: url(5ec1d07a5f5aaa74c006597c.card.png); }
            
            .item-2 { background-image: url(5ec1d07b5f5aaa74c006597d.image.png); }
        
                .matched.item-2 { background-image: url(5ec1d07b5f5aaa74c006597d.card.png); }
            
            .item-3 { background-image: url(5ec1d07b5f5aaa74c006597e.image.png); }
        
                .matched.item-3 { background-image: url(5ec1d07b5f5aaa74c006597e.card.png); }
            
            .item-4 { background-image: url(5ec1d07c5f5aaa74c006597f.image.png); }
        
                .matched.item-4 { background-image: url(5ec1d07c5f5aaa74c006597f.card.png); }
            
            .item-5 { background-image: url(5ec1d07c5f5aaa74c0065980.image.png); }
        
                .matched.item-5 { background-image: url(5ec1d07c5f5aaa74c0065980.card.png); }
            
            .item-6 { background-image: url(5ec1d07d5f5aaa74c0065981.image.png); }
        
                .matched.item-6 { background-image: url(5ec1d07d5f5aaa74c0065981.card.png); }
            
            .item-7 { background-image: url(5ec1d07d5f5aaa74c0065982.image.png); }
        
                .matched.item-7 { background-image: url(5ec1d07d5f5aaa74c0065982.card.png); }
            
            .item-8 { background-image: url(5ec1d07e5f5aaa74c0065983.image.png); }
        
                .matched.item-8 { background-image: url(5ec1d07e5f5aaa74c0065983.card.png); }
            
            .item-9 { background-image: url(5ec1d07e5f5aaa74c0065984.image.png); }
        
                .matched.item-9 { background-image: url(5ec1d07e5f5aaa74c0065984.card.png); }
            
            .item-10 { background-image: url(5ec1d07f5f5aaa74c0065985.image.png); }
        
                .matched.item-10 { background-image: url(5ec1d07f5f5aaa74c0065985.card.png); }
            
