
            .item-1 { background-image: url(5ec1d0605f5aaa74c0065962.image.png); }
        
                .matched.item-1 { background-image: url(5ec1d0605f5aaa74c0065962.card.png); }
            
            .item-2 { background-image: url(5ec1d0615f5aaa74c0065963.image.png); }
        
                .matched.item-2 { background-image: url(5ec1d0615f5aaa74c0065963.card.png); }
            
            .item-3 { background-image: url(5ec1d0615f5aaa74c0065964.image.png); }
        
                .matched.item-3 { background-image: url(5ec1d0615f5aaa74c0065964.card.png); }
            
            .item-4 { background-image: url(5ec1d0625f5aaa74c0065965.image.png); }
        
                .matched.item-4 { background-image: url(5ec1d0625f5aaa74c0065965.card.png); }
            
            .item-5 { background-image: url(5e8dad947aa6d6552ebb39b1.image.png); }
        
                .matched.item-5 { background-image: url(5e8dad947aa6d6552ebb39b1.card.png); }
            
            .item-6 { background-image: url(5ec1d0635f5aaa74c0065966.image.png); }
        
                .matched.item-6 { background-image: url(5ec1d0635f5aaa74c0065966.card.png); }
            
            .item-7 { background-image: url(5ec1d0635f5aaa74c0065967.image.png); }
        
                .matched.item-7 { background-image: url(5ec1d0635f5aaa74c0065967.card.png); }
            
            .item-8 { background-image: url(5ec1d0645f5aaa74c0065968.image.png); }
        
                .matched.item-8 { background-image: url(5ec1d0645f5aaa74c0065968.card.png); }
            
            .item-9 { background-image: url(5e8dad947aa6d6552ebb39ad.image.png); }
        
                .matched.item-9 { background-image: url(5e8dad947aa6d6552ebb39ad.card.png); }
            
            .item-10 { background-image: url(5ec1d06a5f5aaa74c0065969.image.png); }
        
                .matched.item-10 { background-image: url(5ec1d06a5f5aaa74c0065969.card.png); }
            
