
            .item-1 { background-image: url(5eadf93a8f2afc15aed00f38.image.png); }
        
                .matched.item-1 { background-image: url(5eadf93a8f2afc15aed00f38.card.png); }
            
            .item-2 { background-image: url(5e8dab8369c2516911ea4536.image.png); }
        
                .matched.item-2 { background-image: url(5e8dab8369c2516911ea4536.card.png); }
            
            .item-3 { background-image: url(5eadf93b8f2afc15aed00f39.image.png); }
        
                .matched.item-3 { background-image: url(5eadf93b8f2afc15aed00f39.card.png); }
            
            .item-4 { background-image: url(5e8dab8369c2516911ea453a.image.png); }
        
                .matched.item-4 { background-image: url(5e8dab8369c2516911ea453a.card.png); }
            
            .item-5 { background-image: url(5eadf93c8f2afc15aed00f3a.image.png); }
        
                .matched.item-5 { background-image: url(5eadf93c8f2afc15aed00f3a.card.png); }
            
            .item-6 { background-image: url(5e8dab8369c2516911ea453c.image.png); }
        
                .matched.item-6 { background-image: url(5e8dab8369c2516911ea453c.card.png); }
            
            .item-7 { background-image: url(5e8dab8369c2516911ea4534.image.png); }
        
                .matched.item-7 { background-image: url(5e8dab8369c2516911ea4534.card.png); }
            
            .item-8 { background-image: url(5eadf93f8f2afc15aed00f3b.image.png); }
        
                .matched.item-8 { background-image: url(5eadf93f8f2afc15aed00f3b.card.png); }
            
            .item-9 { background-image: url(5e8dab8369c2516911ea452e.image.png); }
        
                .matched.item-9 { background-image: url(5e8dab8369c2516911ea452e.card.png); }
            
