
            .item-1 { background-image: url(5e9cd3b0c9c8767483d7747a.image.png); }
        
                .matched.item-1 { background-image: url(5e9cd3b0c9c8767483d7747a.card.png); }
            
            .item-2 { background-image: url(5e9cd3b1c9c8767483d7747c.image.png); }
        
                .matched.item-2 { background-image: url(5e9cd3b1c9c8767483d7747c.card.png); }
            
            .item-3 { background-image: url(5e9cd3b3c9c8767483d7747e.image.png); }
        
                .matched.item-3 { background-image: url(5e9cd3b3c9c8767483d7747e.card.png); }
            
            .item-4 { background-image: url(5e9cd3b3c9c8767483d7747f.image.png); }
        
                .matched.item-4 { background-image: url(5e9cd3b3c9c8767483d7747f.card.png); }
            
            .item-5 { background-image: url(5e9cd3b5c9c8767483d77480.image.png); }
        
                .matched.item-5 { background-image: url(5e9cd3b5c9c8767483d77480.card.png); }
            
            .item-6 { background-image: url(5e9cd3b6c9c8767483d77481.image.png); }
        
                .matched.item-6 { background-image: url(5e9cd3b6c9c8767483d77481.card.png); }
            
            .item-7 { background-image: url(5e9cd3b7c9c8767483d77482.image.png); }
        
                .matched.item-7 { background-image: url(5e9cd3b7c9c8767483d77482.card.png); }
            
            .item-8 { background-image: url(5e9cd3b9c9c8767483d77483.image.png); }
        
                .matched.item-8 { background-image: url(5e9cd3b9c9c8767483d77483.card.png); }
            
            .item-9 { background-image: url(5e9cd3bac9c8767483d77484.image.png); }
        
                .matched.item-9 { background-image: url(5e9cd3bac9c8767483d77484.card.png); }
            
            .item-10 { background-image: url(5e9cd3bbc9c8767483d77485.image.png); }
        
                .matched.item-10 { background-image: url(5e9cd3bbc9c8767483d77485.card.png); }
            
            .item-11 { background-image: url(5e9cd3bcc9c8767483d77486.image.png); }
        
                .matched.item-11 { background-image: url(5e9cd3bcc9c8767483d77486.card.png); }
            
            .item-12 { background-image: url(5e9cd3bcc9c8767483d77487.image.png); }
        
                .matched.item-12 { background-image: url(5e9cd3bcc9c8767483d77487.card.png); }
            
